@* VUE PARTIELLE DES DETAILS DU JEU () *@

@model Game;

<article class="leftStats">
    <p>Nb de faits: @Model.Facts.Count</p>
    <p>Nb de followers: @Model.Followers.Count</p>
    <p>Nb de followers essentiels: @Model.Followers.Where(f => f.Protection == Follower.ProtectionLevel.Essential).ToList().Count</p>
    <p>Nb de followers proteges: @Model.Followers.Where(f => f.Protection == Follower.ProtectionLevel.Protected).ToList().Count</p>
</article>

<div class="spacer"></div>

<article class="rightStats">
    <p>Hitpoints moyen: @Model.Followers.Average(f => f.Hitpoints)</p>
    <p>Energie moyenne: @Model.Followers.Average(f => f.Energy)</p>
    <p>Alignment moyen: @Model.Followers.Average(f => f.Alignment)</p>
    <p>Race la plus commune: @Model.SharedInfo.Races.Aggregate((r1, r2) => r1.Population > r2.Population ? r1 : r2).CommonName</p>
</article>