@model List<Game>

<!-- ARRIERE-PLAN VIDEO -->
<video id="background" muted autoplay loop>
	<source src="" type="video/webm" />
</video>

<!-- CAROUSEL STYLE "COVERFLOW" DES JEUX -->
<section id="carouselWrapper">
	<div class="overscroll"></div>

	<div class="carousel">
		@foreach (Game game in Model)
		{
			int nbFollowers = game.Followers.Count;

			<div class="hidden" id="card@(game.Id)" onmouseover="Carousel.setActiveAt(@game.Id)">
				<h1 class="showOnActive">@game.Name</h1>
				<h2 class="showOnActive">@game.Tagline</h2>
				<button class="trigger">
					<img class="logo" src="~/images/games/@(game.ShortName)/logo.webp" />
				</button>
				<h3 class="showOnActive">@nbFollowers @Utils.Plural("follower", nbFollowers)</h3>
				<button class="searchBtn link" data-href="/search/@(game.Name)" data-anim="scaleup">View followers</button>
				<h4 class="showOnActive">@game.Followers.Where(f => f.Protection == Follower.ProtectionLevel.Essential).ToList().Count @Utils.Plural("follower", nbFollowers) @Utils.Plural("essentiel", nbFollowers)</h4>
				<input class="gameName" type="hidden" value="@game.ShortName" />
				<input class="gameBackgroundUrl" type="hidden" value="@game.BackgroundUrl" />
				<input class="gameColor" type="hidden" value="@game.Color" />
			</div>
		}
	</div>

	<div class="overscroll"></div>
</section>

<!-- AFFICHAGE DES STATISTIQUES D'UN JEU -->
<section id="details">
	<!-- vue partielle dynamique -->
</section>

<!-- AVANT-PLAN VIDEO -->
<video id="foreground_mist" muted autoplay loop>
	<source src="videos/shared/foreground_mist_sparks.webm" type="video/webm" />
</video>
<video id="foreground" muted autoplay loop>
	<source src="videos/shared/foreground.webm" type="video/webm" />
</video>