@model Follower;

@{
	ViewData["sPageTitle"] = "Create";
	var GameNames = ViewData["sGameNames"]   as List<string>;
	var RaceNames = ViewData["sRaceNames"]   as List<string>;
	var ClassNames = ViewData["sClassNames"] as List<string>;
}

<h1>Create</h1>

<h4>Follower</h4>
<hr />
<div>
	<div>
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly"></div>
			<div>
				<label asp-for="ParentId"></label>
				<input asp-for="ParentId" />
				<span asp-validation-for="ParentId"></span>

				<select asp-for="ParentId">
					<option>Choisir un jeu...</option>
					@for (int i = 0; i < GameNames.Count; i++)
					{
						<option value="@i">@GameNames[i]</option>
					}
				</select>
			</div>
			<div>
				<label asp-for="RaceId"></label>
				<input asp-for="RaceId" />
				<span asp-validation-for="RaceId"></span>

				<select asp-for="RaceId">
					<option>Choisir une classe...</option>
					@for (int i = 0; i < RaceNames.Count; i++)
					{
						<option value="@i">@RaceNames[i]</option>
					}
				</select>
			</div>
			<div>
				<label asp-for="ParentId"></label>
				<input asp-for="ParentId" />
				<span asp-validation-for="ParentId"></span>

				<select asp-for="ParentId">
					<option>Choisir une race...</option>
					@for (int i = 0; i < ClassNames.Count; i++)
					{
						<option value="@i">@ClassNames[i]</option>
					}
				</select>
			</div>
			<div>
				<label asp-for="Name"></label>
				<input asp-for="Name" />
				<span asp-validation-for="Name"></span>
			</div>
			<div>
				<label asp-for="Description"></label>
				<input asp-for="Description" />
				<span asp-validation-for="Description"></span>
			</div>
			<div>
				<label asp-for="UnlockContext"></label>
				<input asp-for="UnlockContext" />
				<span asp-validation-for="UnlockContext"></span>
			</div>
			<div>
				<label asp-for="Hitpoints"></label>
				<input asp-for="Hitpoints" />
				<span asp-validation-for="Hitpoints"></span>
			</div>
			<div>
				<label asp-for="Energy"></label>
				<input asp-for="Energy" />
				<span asp-validation-for="Energy"></span>
			</div>
			<div>
				<label asp-for="Alignment"></label>
				<input asp-for="Alignment" />
				<span asp-validation-for="Alignment"></span>
			</div>
			<div>
				<label>
					<input asp-for="IsFavorite" /> @Html.DisplayNameFor(model => model.IsFavorite)
				</label>
			</div>
			<div>
				<label asp-for="Protection"></label>
				<input asp-for="Protection" />
				<span asp-validation-for="Protection"></span>
			</div>
			<div>
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

