@model Follower

@{
	ViewData["sPageTitle"] = "Delete";
}

<header>
	<h2>Supprimer @Model.Name (@Model.Id)</h2>
</header>


<div class="deleteWrapper">
	<img src="~/images/games/@(Model.Parent.ShortName)/followers/@(Model.ShortName).webp" />
	<p>
		Vous êtes sur le point d'anéantir <strong>@Model.Name, @Model.Class.Name @Model.Race.NativeName</strong>.<br />
		<em>
			Voulez-vous poursuivre? @if (Model.IsFavorite)
			{<span>Ce compagnion est un favori.</span>}
		</em>
	</p>
</div>

<footer>
	<form asp-action="Delete">
		<button class="link" data-href="/search">Revenir</button>
		|
		<input type="submit" value="Supprimer" />
		<input type="hidden" asp-for="Id" />
	</form>
</footer>
