@model Follower;

<!-- DETAILS D'UN COMPAGNION-->
<article id="followerInfoWrapper">
	<!-- IMAGE DU COMPAGNION -->
	<figure id="portrait">
		<img src="@Follower.GetPictureSrc(Model)"
		     alt="Image du compagnion @Model.Name" />
		<figcaption>
			<img class="gameLogo" src="~/images/games/@(Model.Parent.ShortName)/logo.png" alt="Logo du jeu" />
			<span>@Model.Name</span>
			@if (Model.IsFavorite)
			{
				<img class="favoriteToggle link" src="~/images/shared/ui/favorite.png" data-href="/favorite/add/@(Model.Id)" alt="Ajouter @Model.Name aux favoris" />
			}
			else
			{
				<img class="favoriteToggle link" src="~/images/shared/ui/favorite_hollow.png" data-href="/favorite/remove/@(Model.Id)" alt="Enlever @Model.Name des favoris" />
			}
		</figcaption>
	</figure>

	<!-- ATTRIBUTS -->
	<section id="attributes">
		@if (Model.IsFavorite)
		{
			<img src="~/images/shared/attributes/favorite_edit.png" alt="Est Favori" />
		}
		@if (Model.Protection == Follower.ProtectionLevel.Essential)
		{
			<img src="~/images/shared/attributes/essential.png" alt="Est Essentiel" />
		}
		else if (Model.Protection == Follower.ProtectionLevel.Protected)
		{
			<img src="~/images/shared/attributes/respawns.png" alt="Resurrecte" />
		}
	</section>

	<!-- RACE ET CLASSE -->
	<section id="raceclass">
		<div class="raceclassCard">
			@*<img src="~/images/shared/races/@(Model.Race.ShortName).webp" />*@
			<img src="~/images/shared/ui/throbber.png" />
			<h2>@Model.Race.NativeName</h2>
			<p>@Model.Race.Description</p>
		</div>
		<div class="raceclassCard">
			@*<img src="~/images/shared/classes/@(Model.Class.ShortName).webp" />*@
			<img src="~/images/shared/ui/throbber.png" />
			<h2>@Model.Class.Name</h2>
			<p>@Model.Class.Description</p>
		</div>
	</section>

	<!-- HABILETES -->
	<section id="abilities">
		<header>Abilities</header>
		<div class="scrollWrapper">
			@foreach (Ability ability in Model.Abilities)
			{
				<div class="abilityCard">
					@*<img src="~/images/shared/abilities/@(datum.ShortName).webp" />*@
					<img src="~/images/shared/ui/throbber.png" />
					<h4>@ability.Name</h4>
					<p>@ability.Description</p>
				</div>
			}
		</div>
	</section>

	<!-- DESCRIPTION ET CONTEXTE -->
	<article id="description">
		<p>@Model.Description</p>
		<footer><strong>Condition:</strong>&nbsp;@Model.UnlockContext</footer>
	</article>
</article>

<!-- CITATIONS ET FAIT ALEATOIRES -->
<footer id="triviaWrapper">
	<p> todo</p>
</footer>